<%#
  Required params:
  - build_status
 %>

<!-- TODO(Rui): Style this page! -->
<div class="region">
  <h2><%= build_status.region %> - <%= build_status.message %></h2>
  <div class="status">
    <div class="date">Ran <%= format_time(build_status.created_at) %></div>
  </div>
  <br>
  <div class="output">
    <h4>Log</h4>
    <textarea rows=20 cols=120><%=  build_status.stdout %></textarea><br>
  </div>
</div>
