<%#
  Required params:
  - build_status
 %>

<!DOCTYPE html>
<html>
<head>
  <title>Player immunity system -- Build Status</title>
  <script src="https://github.com/ooyala/livecss/raw/master/livecss.js"></script>
  <link rel="stylesheet" href="/styles.css" type="text/css" />
</head>

<!-- TODO(Rui): Style this page! -->

<body>
<div class="region">
  <h2><%= build_status.region %> - <%= build_status.message %></h2>
  <div class="status">
    <div class="date">Ran <%= format_time(build_status.updated_at) %></div>
  </div>
  <br>
  <div class="output">
    <h4>Log</h4>
    <textarea rows=20 cols=120><%=  build_status.stdout %></textarea><br>
  </div>
</div>
</body>
</html>
