
<div class="metricsTable">
  <h2>HTML5player errors</h2>
  <table>
    <% errors.each_with_index do |error, i| %>
      <tr>
        <td class="message"><%= error[:message]  %></td>
		<td class="occuring_path"><%= error[:request_path] %></td>
        <td class="time"><%= format_time(error[:timestamp])  %></td>
      </tr>
    <% end %>
  </table>
</div>