<!DOCTYPE html>
<html>
<head>
  <title>Player immunity system</title>
  <meta http-equiv="refresh" content="8">
  <script src="https://github.com/ooyala/livecss/raw/master/livecss.js"></script>
  <link rel="stylesheet" href="/styles.css" type="text/css" />
</head>

<!-- TODO(philc): Style this page! -->

<body>
  <header>
    <h1>Immunity System</h1>
  </header>

  <%=
    # TODO(philc): This is just a standin datamodel for regions and their builds.
    Build.regions.map do |region_name|
      # find latest build for this region
      build = Build.reverse_order(:id).first(:current_region => region_name)
      all_build_status = BuildStatus.reverse_order(:id).filter(:region => region_name)
      build_status = all_build_status.first
      if build || latest_build
        erb :"region.html", :locals => { :region_name => region_name, :build => build, 
                                         :build_status => build_status, :latest_build => latest_build,
                                         :all_build_status => all_build_status,  }
      end
    end.join("\n")
   %>
</body>
</html>
