<!DOCTYPE html>
<html>
<head>
  <title>Player immunity system</title>
  <meta http-equiv="refresh" content="10">
  <script src="https://github.com/ooyala/livecss/raw/master/livecss.js"></script>
  <script src="/js/jquery-1.7.min.js"></script>
  <link rel="stylesheet" href="/styles.css" type="text/css" />
</head>

<!-- TODO(philc): Style this page! -->

<body>
  <header>
    <h1>Immunity System</h1>
  </header>

  <script>
    $(document).ready(function() {
      $("button.confirm").click(function(event) {
        jQuery.ajax({
          type: "POST",
          url: "/manual_deploy_confirmed",
          data: "build_id=" + $(event.target).attr("build_id"),
          success: function() { window.location.reload(); }
        });
      });
    });
  </script>

  <%=
    regions.map do |region|
      erb :"region.html", :locals => { :region => region }
    end.join("\n")
   %>
</body>
</html>
