<!DOCTYPE html>
<html>
<head>
  <title>Player immunity system</title>
  <script src="https://github.com/ooyala/livecss/raw/master/livecss.js"></script>
  <link rel="stylesheet" href="/styles.css" type="text/css" />
</head>

<!-- TODO(philc): Style this page! -->

<body>
  <header>
    <h1>Immunity System</h1>
  </header>

  <%=
    # TODO(philc): This is just a standin datamodel for regions and their builds.
    Build.regions.map do |region_name|
      # find latest build for this region
      builds = Build.reverse_order(:id).filter(:current_region => region_name)
      build = builds.first
      if build || latest_build
        erb :"region.html", :locals => { :region_name => region_name, :build => build,
                                         :all_builds => builds, :latest_build => latest_build }
      end
    end.join("\n")
   %>
</body>
</html>
