<!DOCTYPE html>
<html>
<head>
  <title>Player immunity system</title>
  <script src="https://github.com/ooyala/livecss/raw/master/livecss.js"></script>
  <link rel="stylesheet" href="/styles.css" type="text/css" />
</head>

<body>
  <%=
    # TODO(philc): This is just a standin datamodel for regions and their builds.
    Build.regions.map do |region_name|
      if build
        erb :"region.html", :locals => { :region_name => region_name, :build => build }
      end
    end.join("\n")
   %>
</body>
</html>
