<!DOCTYPE html>
<html>
<head>
  <title>Player immunity system</title>
  <script src="https://github.com/ooyala/livecss/raw/master/livecss.js"></script>
  <script src="/js/jquery-1.7.min.js"></script>
  <link rel="stylesheet" href="/styles.css" type="text/css" />
</head>

<!-- TODO(philc): Style this page! -->

<body>
  <header>
    <h1>Immunity System</h1>
  </header>

  <%= yield %>

</body>
</html>
