<%#
  # Shows basic formatting for a build's monitoring metrics.
  # Params:
  # - build
%>
<div class="monitoringMetrics">
  <% stats = build.monitoring_stats %>
  Requests: <%= stats[:request_count] %><br/>
  Average latency: <%= stats[:average_latency] %>ms<br/>
  Errors: <%= stats[:error_count] %><br/>
  Error rate: <%= trim_decimals(stats[:error_rate], 2) %>%<br/>
</div>
