<%#
  Params:
  - region_name
  - build: the current Build
 %>
<div class="region">
  <h2><%= region_name %></h2>
  <div class="buildTitle"><%= build.readable_name %> (commit <a href="#"><%= build.short_commit %></a>)</div>
  <div class="status">
    <div class="title" class="deploying">Deploying</div>
    <div class="date">Ran Fri 8:23pm 30s</div>
  </div>

  <div class="nextUp">
    <h4>Next up</h4>
    Build 230 (commit c3r8z8)
  </div>

  <h4>History</h4>
  <div class="history">
    <table>
      <tr><td class="build">Build 228 (commit c8e714)</td><td><a href="status">Deploy failed</a></td></tr>
      <tr><td class="build">Build 227 (commit 4dz70a)</td><td><a href="status">Tests passed</a></td></tr>
    </table>
  </div>
</div>
