@import "lib/bourbon/bourbon";

body {
  font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
}

table { border-collapse: collapse; }

header {
  h1 { font-weight: normal; }
  border-bottom: 1px solid #ccc;
}

h2 {
  border-bottom: 1px dashed #ccc;
  margin-bottom: 6px;
}

.clear { clear: both }

button.green {
  padding: 4px 7px;
  @include linear-gradient(#07CE5C, darken(#07CE5C, 20%));
  border-radius: 3px;
  border: 2px solid darken(#07CE5C, 15%);
  color: white;
  text-shadow: 0px 1px 2px black;
  font-weight: bold;

  &:active {
    @include linear-gradient(darken(#07CE5C, 22%), darken(#07CE5C, 10%));
  }
}

$columnWidth: 300px;
.region {
  width: 600px;
  margin: 20px 0;
  .buildTitle {
    font-size: 20px;
    width: $columnWidth;
    float: left;
  }
  .status {
    .title { font-size: 20px; }
    float: left;
    position: relative;
    button.confirm {
      font-size: 18px;
    }
  }

  .date {
    font-size: 14px;
    font-style: italic;
  }

  h4 {
    font-size: 16px;
    font-style: italic;
    margin: 10px 0 0px 0;
    color: #777;
  }

  .history {
    font-size: 14px;
    color: #666;
    $timeWidth: 70px;
    td.time{ padding-right: 6px; }
    td.build { width: 100%; }
    td.status { width: $columnWidth; }
  }
}